---
import Container from "./Container.astro";
import scheduleData from "./Data/schedule.json";
---

<Container>
  <div class="relative flex flex-col items-center md:flex-row" id="schedule">
    <div class="row items-center py-5 md:pr-40 md:w-5/12 md:py-10">
      <div class="text-center md:text-left space-y-3 bg-lime">
        <h2 class="text-4xl font-medium leading-none sm:text-6xl">Jadwal</h2>
      </div>
    </div>
    <div class="flex items-center py-5 md:w-7/12 md:py-10">
      <p class="text-xl font-normal leading-7 text-center md:text-left">
        Berikut adalah jadwal terkini dari GenAI Tour. Segera daftar jangan
        sampai ketinggalan!
      </p>
    </div>
  </div>
  <div
    id="accordion-open"
    data-accordion="close"
    class="text-black grid gap-4 my-6"
  >
    {
      scheduleData.schedules.map(
        ({
          id,
          hid,
          bid,
          target,
          title,
          description,
          confirmed,
          session_list,
          venue,
          venue_link,
          venue_addr,
          venue_maps,
          registration_url
        }) => (
          <h2 id={`${title.toLowerCase()}`}>
            <div class="w-full px-14 py-10 bg-white text-zinc-900 focus:bg-lime rounded-[45px] shadow border border-black flex-col justify-start items-start gap-7 inline-flex">
              <button
                type="button"
                class="w-full flex justify-between items-center"
                data-accordion-target={target}
                aria-expanded="true"
                aria-controls={bid}
              >
                <div class="justify-start items-center gap-6 flex">
                  <h2 class="text-xl md:text-6xl font-medium">{id}</h2>
                  <h3 class="text-lg md:text-3xl font-medium">{title}</h3>
                </div>
                <div>
                  <img
                    data-accordion-icon
                    src="/schedules/plus.svg"
                    alt=""
                    class="justify-items-end w-10 h-10"
                    aria-hidden="true"
                  />
                </div>
              </button>
              <div class="text-lg font-normal" id={bid} aria-labelledby={hid}>
                <hr class="w-full border border-black mb-6" />
                <p class="mb-6 text-gray-500 text-sm md:text-lg">
                  {description}
                </p>
                <p class="text-2xl font-bold">Venue:</p>
                <hr class="w-full my-2 border border-black mb-6" />
                <h4 class="text-md md:text-xl font-medium"><a href={venue_maps}>{venue}</a></h4>
                <p class="mb-2 text-gray-500 text-sm md:text-lg mb-10">
                  <a href={venue_maps}><img align="left" style="height:24px" src="/static/map.svg" />{venue_addr}</a>
                </p>

                <p class="text-2xl font-bold">Session List:</p>
                <hr class="w-full my-2 border border-black mb-6" />

                {session_list?.length === 0 ||
                  (!session_list && (
                    <p class="text-md font-bold font-mono">
                      Belum ada jadwal yang tersedia.
                    </p>
                  ))}
                {session_list?.map(
                  ({ id, time, title, description, speaker }) => (
                    <div id={id} class="mb-4">
                      <h4 class="text-md md:text-xl font-medium">{time}</h4>
                      <div class="flex bg-lime">
                        <h5 class="text-sm md:text-lg font-semibold">
                          {title} {speaker ? '- ' + speaker : '' }
                        </h5>
                      </div>
                      <p class="text-sm md:text-md">{description}</p>
                    </div>
                  )
                )}
                <hr class="w-full my-2 border border-black mb-6" />

                {confirmed ? (
                  <a
                    class="px-9 py-5 bg-zinc-900 hover:bg-white text-white hover:text-black border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex"
                    rel="noopener noreferrer"
                    href={registration_url}
                  >
                    <h2 class="text-center font-normal leading-4">Daftar</h2>
                  </a>
                ) : (
                  <p class="px-9 py-5 bg-white hover:bg-zinc-900 text-zinc-900 hover:text-white border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex">
                    Segera dibuka.
                  </p>
                )}
              </div>
            </div>
          </h2>
        )
      )
    }
  </div>
</Container>
