---
import Container from "./Container.astro";
import speakerData from "./Data/speaker.json";
---

<Container>
  <div class="relative flex flex-col items-center md:flex-row" id="speaker">
    <div class="row items-center py-5 md:pr-14 md:w-6/12 md:py-8">
      <div class="text-center md:text-left space-y-3 bg-lime">
        <h2 class="text-4xl font-medium leading-none sm:text-6xl">
          Narasumber
        </h2>
      </div>
    </div>
    <div class="flex items-center py-5 md:w-6/12 md:py-8">
      <p class="text-xl font-normal leading-7 text-center md:text-left">
        Nantikan kami di kota-kota besar di Indonesia! Berikut adalah beberapa
        narasumber yang akan hadir.
      </p>
    </div>
  </div>

  <div class="flex-row items-center py-5" id="team">
    <div
      class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4"
    >
      {
        speakerData.speakers.map(
          ({ title, description, name, link, profile, cities }) => (
            <div class="h-[331px] px-[35px] py-10 bg-white rounded-[45px] shadow border border-zinc-900 flex-col justify-start items-start gap-2.5 inline-flex text-black">
              <div class="flex-col justify-start items-start gap-7 flex">
                <div class="self-stretch justify-start items-start inline-flex">
                  <div class="grow shrink basis-0 justify-start items-center gap-8 flex">
                    <div class="left-0 top-0 relative">
                      <img
                        width="100"
                        object-fit="cover"
                        src={profile}
                        alt={name}
                        style="border-radius:50%;"
                      />
                    </div>
                    <div class="flex-col justify-end items-start inline-flex">
                      <div class="text-xl font-medium">{name}</div>
                      <div class="text-md font-normal">{title}</div>
                      <div class="text-sm font-medium mt-4">
                        Pembicara di:{" "}
                        {cities.map((data, index) => (
                          <a
                            class="underline"
                            id={`${data}${index}`}
                            href={
                              data === "Semua kota" ? `/#schedule` : `/#${data}`
                            }
                          >
                            {data}
                            {index !== cities.length - 1 ? "," : ""}
                          </a>
                        ))}
                      </div>
                    </div>
                  </div>
                  <a class="top-0 right-0" href={link}>
                    <img src="/speakers/lng.svg" alt="vector" />
                  </a>
                </div>
                <hr class="w-full border border-black" />
                <p class="text-sm md:text-lg">{description}</p>
              </div>
            </div>
          )
        )
      }
    </div>
  </div>
  <!-- <div class="w-full justify-center md:justify-end items-center inline-flex">
    <button
      class="px-8 py-5 bg-zinc-900 hover:bg-white rounded-2xl text-center text-white hover:text-black border text-xl font-normal leading-7"
      >See all team
    </button>
  </div> -->
</Container>
