---
import Container from "./Container.astro";
import sponsors from "./Data/sponsor.json";
---

<Container>
  <div class="relative flex flex-col items-center md:flex-row" id="sponsor">
    <div class="row items-center py-5 md:pr-16 md:w-5/12 md:py-10">
      <div class="text-center md:text-left space-y-3 bg-lime">
        <h2 class="text-4xl font-medium leading-none sm:text-6xl">
          Sponsor Kami
        </h2>
      </div>
    </div>
    <div class="flex items-center py-5 md:w-8/12 md:py-10">
      <p class="text-xl font-normal leading-7 text-center md:text-left">
        Berikut adalah beberapa sponsor yang telah mendukung acara ini.
      </p>
    </div>
  </div>

  <!-- Platinum Sponsors -->
  <div>
    <h3 class="text-2xl font-bold bg-[#E5E4E2] py-2 pl-3 pr-16">Platinum</h3>
    <div class="flex py-10 justify-center items-center">
      {
        sponsors
          .filter((sponsor) => sponsor.tier === "Platinum")
          .map((sponsor) => (
            <div class="flex justify-center items-center">
              <img src={sponsor.url} alt={sponsor.alt} class="w-[500px]" />
            </div>
          ))
      }
    </div>
  </div>

  <!-- Gold Sponsors -->
  <div>
    <h3 class="text-2xl font-bold bg-[#FFD700] py-2 pl-3 pr-16">Gold</h3>
    <div class="flex py-10 justify-center items-center">
      {
        sponsors
          .filter((sponsor) => sponsor.tier === "Gold")
          .map((sponsor) => (
            <div class="flex justify-center items-center">
              <img src={sponsor.url} alt={sponsor.alt} class="max-w-[300px]" />
            </div>
          ))
      }
    </div>
  </div>

  <!-- Silver Sponsors -->
  <div>
    <h3 class="text-2xl font-bold bg-[#C0C0C0] py-2 pl-3 pr-16">Silver</h3>
    <div
      class="grid grid-cols-2 gap-5 md:grid-cols-4 py-10 justify-center items-center"
    >
      {
        sponsors
          .filter((sponsor) => sponsor.tier === "Silver")
          .map((sponsor) => (
            <div class="flex justify-center items-center">
              <img src={sponsor.url} alt={sponsor.alt} class="max-h-[80px]" />
            </div>
          ))
      }
    </div>
  </div>

  <div class="text-center">
    <p class="text-3xl">Ingin menjadi sponsor kami?</p>
    <a
      class="px-9 py-5 mt-8 bg-zinc-900 hover:bg-white text-white hover:text-black border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex"
      rel="noopener noreferrer"
      href="/sponsor"
    >
      <h2 class="text-center text-xl font-normal leading-7">Detail Sponsor</h2>
    </a>
  </div>
</Container>
